// ----------------------  SITE COLORS  ----------------------

$green: 		#37B34A;
$light-green: 	#8AC53F;
$orange: 		#F8AD57;
$white:         #ffffff;
$black:         #000000;


// ----------------------  TYPEFACES  ----------------------

// google fonts or typekit import
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&display=swap');


$montserrat: 	'Montserrat', sans-serif;


// ----------------------  BREAKPOINTS  ----------------------

$x-large:   1500px;
$large:     1200px;
$medium:    1000px;
$small:     650px;